#my-pic{
    border-radius: 100%;
}
.header-box{
    margin-top: 50px;
    text-align: center;
}
#bio{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: gray;
}
.buttons button{
    margin: 0 5px 0 5px;
    font-weight: bolder;
}
#name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
#about{
    margin: 50px;
    padding: 50px;
    border: 2px grey solid;
    border-radius: 25px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);

}
#tech-stack{
    /* text-align: center; */
    margin-top: 50px;
}
#projects{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
#project-container,.education-details{
    margin: 50px;
    padding: 0 50px 50px 50px;
    border: 2px grey solid;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    
}
#project-container h2{
    padding: 15px;
    margin-left: 0;
    font-weight: bold;
}
#about h2{
    font-weight: bold;
}
.education-details{
    width: 80%;
    margin: 50px 50px 50px 130px;
}
.education-details .card{
    margin-top: 15px;
    padding: 10px;
}
.education-details h2{
   font-weight: bold;
   margin-top: 5px;
}


@media (max-width: 500px) {
    #project-container {
        width: 80%;
        height: auto;
    }
    
    #projects {
        flex-direction: column;
        align-items: center;
       
    }

    .card {
        width: 90%;
        margin: 20px;
    }
    .education-details {
        width: 80%;
        margin-left: 50px;
        height: auto;
    }
    .education-details .card{
        width: 100%;
      
    }
}

.buttons button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
#about, #project-container, .education-details {
    background-color: #d4d4d6; /* light gray */
}

#foot{
    text-align: center;
   
   padding-top: 20px;
}
.footer{
    height: 50px;
    background-color:  #919197;
}
.card{
    background-color: #d9d9df;
}
.navbar{
    background-color:  #919197;
}
/* Rotate animation */
@keyframes rotateIn {
    0% {
        transform: rotateX(-360deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

#name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    animation: rotateIn 1.5s ease-out forwards;
     
}
